<style>
  #gridContainer {
    padding: 20px;
  }

  .row>div {
    border: 1px solid lightgrey;
    padding: 100px;
  
    margin: 5px 0;
    height: 300px;
    
  }

  
</style>
<h3 class="bg-primary text-white p-3"></h3>
<div class="container">
  <div class="row">
    <div class="col-sm-1"   [style.background]="color1" (click)="Div1Click()" >3</div>
    <div class="col-sm-1" [style.background]="color2"  (click)="Div2Click()" >4</div>
    <div class="col-sm-1" [style.background]="color3"  (click)="Div3Click()" >5</div>
    <div class="col-sm-1"   style="background-color: white;border:none">5</div>
    <div class="col-sm-1" style="background-color: white" >
      <div *ngFor="let item of colors">
        {{item}}
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="row">
        <button class="btn btn-primary" (click)="Undo()" >Undo</button>
    </div>
  </div>
</div>